<h1><%= header %></h1>
<% if not items.empty? %>
  <ul>
  <% for i in items %>
    <% if i[:current] %>
      <li><strong><%= i[:name] %></strong></li>
    <% else %>
      <li><a href="<%= i[:url] %>"><%= i[:name] %></a></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<% if items.empty? %>
  <p>The list is empty.</p>
<% end %>